section{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 50vh;
}
img{
    margin-top: 30vh;
    animation: slide 5s linear infinite;
}
@keyframes slide {
    0%{
        margin-left: 10%;
    }
    50%{
        margin-left: 80%;
    }
    100%{
        margin-left: 10%;
    }
}